@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f3f1ff;
}
.container {
  padding: 30px;
  background: #ffffff;
  border-radius: 5px;
  width: 870px;
  margin: 0 auto;
  margin-top: 30px;
}
hr {
  border: 1px solid #d1d1d1;
}
/* Header Section Start */
/* Header Section end */

/* Players Section Start */
.players-and-blogs {
}
.players-section {
  margin-bottom: 30px;
}
.players-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-top: 30px;
}
.player {
  display: flex;
  align-items: center;
  gap: 5%;
}
.player img {
  width: 56px;
}
.player-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
/* Players Section end */

/* blog section Start */
.blogs-section {
  margin-top: 30px;
}
.blogs-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  margin-top: 30px;
}
.blog {
  display: flex;
  gap: 16px;
  align-items: center;
}
.thumbnil > img {
  width: 177px;
  height: 117px;
}
.blog-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.author {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.author > a {
  text-decoration: none;
  color: #562eff;
}
/* blog section end */

/* Latest Course start  */
.course-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
}
/* Latest Course end  */
